.ctn{
    overflow:Scroll;
    overflow-x:hidden;
}

.n1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:18rem;
    width:80%;
    background-color:#5e5e5e;
    color:#fff;
}

.n2{
    display:flex;
    justify-content:center;
    align-items:center;
    height:18rem;
    width:100%;
    color:#333;
}

.bg-grey{
    background-color:#f2f2f2;
}

.p{
    height:10rem;
}

.if{
    color:#8e1c1a;
    font-size:1.8rem
}
