
.navbar {
    height: 8vh;
    background-color: #fcfcfc;
    font-size: 2vh;
    font-family: "Noto Sans CJK SC", "Source Han Sans CN", sans-serif;
    box-shadow: 0.5vh 0.1vh 8px #888888;
}


.navs{
    margin-left:33vw;
}


.logo{
    height:3.3vh;
}
