
.bg{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    color:#eee;
    background:url('./bg.jpeg') no-repeat;
    background-size:auto 110%;
    background-position: 49% 0;
    overflow:-Scroll;
    overflow-x:hidden;
    animation: bg 10s;
    -moz-animation: bg 10s infinite alternate;	/* Firefox */
    -webkit-animation: bg 10s  infinite alternate;	/* Safari 和 Chrome */
    -o-animation: bg 10s infinite alternate;	/* Opera */
}

.title{
    margin-top:12rem;
    margin-left:8rem;
    height:75vh;
}

.btn{
    font-size:0.9rem!important;
    width:10rem;
    height:3rem;
    margin-top:5rem;
    margin-right:5rem;
    border-radius:0!important;
    font-weight:300!important;
}

.jbt-foot{
    height:25vh;
    display:flex;
    justify-content:center;
    align-items:center;
    align-self:end;
    background-color: rgba(65,77,77,0.5);
    width:100%;
    color:#fff;
}

.space-font{
    font-size:1rem;
    padding: 0 3vw;
    border-right:2px solid white;
}

.sf-last{
    font-size:1remvh;
    padding:3vw;
}

.ft-intro{
    text-align:center;
    font-size:3vh;
    margin:6vh;
}

.intro{
    resize-model:contain;
    margin-left:-1vw;
    width:101%;
    overflow-x: hidden;
}

.mydiv{
    background:red;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s; /* Firefox */
    -webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
    -webkit-animation-direction:alternate;    
    -o-animation:myfirst 5s; /* Opera */
}


@-webkit-keyframes bg /* Safari and Chrome */
{
    from {background-size:auto 100%;}
    to {background-size:auto 110%;}
}

@keyframes myfirst
{
    from {background-size:auto 100%;}
    to {background-size:auto 110%;}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {background-size:auto 100%;}
    to {background-size:auto 110%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {background-size:auto 100%;}
    to {background-size:auto 110%;}
}

@-o-keyframes myfirst /* Opera */
{
    from {background-size:auto 100%;}
    to {background-size:auto 110%;}
}
