
.title{
    margin-top:10rem;
    margin-left:10rem;
}
.bg{
    display:flex;
    felx:1;
    height:100vh;
    color:#eee;
    height:35rem;
    background:url('./bg.jpeg') no-repeat;
    background-size:auto 100vw;
    background-position:-10vw;
}

.jbt-foot{
    font-weight:normal;
    display:flex;
    justify-content:center;
    align-items:center;    
    background-color:#454545;
    height:20vh;
    color:#fff
}

.space-font{
    font-size:4vh;
    padding: 0 3vw;
    border-right:2px solid white;
}

.sf-last{
    font-size:4vh;
    padding:3vw;
}

.ft-intro{
    text-align:center;
    font-size:3vh;
    margin-top:6vh;
}
.mydiv{
    background:red;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s; /* Firefox */
    -webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
    -webkit-animation-direction:alternate;    
    -o-animation:myfirst 5s; /* Opera */
}


@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {font-size:12rem;}
    to {font-size:15rem;}
}

